html, body {
    margin: 0;
    height: 100%;
  }

  #c {
    width: 100%;
    height: 100%;
    display: block;
  }

/* File Upload */

html {
  height: 100%;
}
body {
  background-color: #2590EB;
  height: 100%;
}
.wrapper {
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper .file-upload {
  height: 50px;
  width: 50px;
  border-radius: 100px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid #FFFFFF;
  overflow: hidden;
  background-image: linear-gradient(to bottom, #2590EB 50%, #FFFFFF 50%);
  background-size: 100% 200%;
  transition: all 1s;
  color: #FFFFFF;
  font-size: 100px;
}
.wrapper .file-upload input[type='file'] {
  height: 200px;
  width: 200px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}
.wrapper .file-upload:hover {
  background-position: 0 -100%;
  color: #2590EB;
}

i{
  font-size: 30px;
}

form{
  margin: 0;
}

label{
  font-size: larger;
  font-weight: bolder;
  color: white;
  margin-left: 0.5rem;
  margin-right: 10rem;
}

#generate {
  width: 10%;
  margin: 0;
  color: #fff;
  background: #1FB264;
  border: none;
  padding: 10px;
  border-radius: 4px;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}